body {
    background:green;
}
@font-face {
    font-family: "Montserrat-Black" ;
    src: url(../fonts/montserrat/Montserrat-Black.ttf) ;
}
.test{
    color: black;
    font-family: "Montserrat-Black";
}
@font-face {
    font-family: "Montserrat-Regulat";
    src: url(../fonts/montserrat/Montserrat-Regular.ttf);
}
.test2{
    color: black;
    font-family: "Montserrat-Regulat";
}
/* main centrl*/

